*{
    background-color: bisque;
    
    color: black;
    padding: 0px;
    margin: 0px;

}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    border-bottom: 2px solid black;
    background-color: black;
    padding: 20px 5vw;

}

.nav-bar a{
    text-decoration: none;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    background-color: black;
    padding: 8px;
}
.nav-bar a:hover{
    color: blanchedalmond;
    border: 2px blanchedalmond solid;
    padding: 10px;
    border-radius: 2px;
}
.containers{
    width: 85vw;
    margin: auto;
    padding-top: 150px;
}

.containers h4{
    padding: 10px;
    padding-left: 0px;
    font-size: 1.5rem;
}
/* .containers p{
    padding: 10px;
    font-size: 1.2rem;
    font-family: monospace;
}

.containers label{
    font-size: 1rem;
    padding: 10px;
    line-height: 20px;
} */
#output-box{
    padding: 20px;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
}
button{
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 700;
}
button:hover{
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 700;
    color: blanchedalmond;
    background-color: black;
}
